*{
    box-sizing: border-box;
}
body{
    background-image: url("images/bg.png");
    background-attachment: center ;
}

.sg1{
    margin: 50px auto 0 auto;
    height: 600px;
    display: block;
}
.sg2{
    display:none;
    
    height: 600px;   
}
.sg {
    margin: 50px auto 0 auto;
}
.votingpad1{
    min-height: 570px;
    background-color: white;
    border: 0px solid yellow;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 15px; 
}
.votingpad2{
    min-height: 570px;
    background-color: white;
    border: 0px solid yellow;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.header{
min-height: 100px;
background-color: #232B3D;
border-radius: 8px;
text-align: center;
padding-top: 9px;
margin-bottom: 25px;
color: white;
}
.votingbox{
margin:auto;
}
.votingbox > div {
min-width: 47%;
margin:auto 5px 10px 5px;
min-height: 100px;
border:  1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 7px;
}
.button-group > .btn {
background-color: #f2f2f2;
border-right: 2px solid black;
}